@page "/"

@inject NavigationManager NavigationManager
@inject TmdbManager TmdbManager

<div>
	<nav class="navbar">
		<div class="input-group mb-3">
			<input @bind-value="SearchPhrase" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" @onclick="@(() => SearchSeries())">Search</button>
		</div>
	</nav>
	@foreach (var serie in Series)
	{
		<div @onclick="() => OnSerieSelection(serie)">
			<SerieInfoCard Serie=serie ShortDescription=true/>
		</div>
	}
</div>

@code {
	public List<SerieModel> Series { get; set; } = new();

	public string SearchPhrase { get; set; }

	private void OnSerieSelection(SerieModel serie)
	{
		NavigationManager.NavigateTo($"/serie/{serie.Id}");
	}

	private async Task SearchSeries()
	{
		Series = new();
		Series = await TmdbManager.GetSeriesByName(SearchPhrase);
	}
}