@page "/"

@inject NavigationManager NavigationManager
@inject TmdbManager TmdbManager
@inject SerieSearchData SerieSearchData

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg mb-2 bg-light">
		<div class="container-fluid">
			<form class="d-flex" @onsubmit="@SearchSeries">
				<input @bind-value="SearchPhrase" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>

	@if (_pageStatus == PageStatus.Loading)
	{
		<LoadingSpinner />
	}
	else if (_pageStatus == PageStatus.NoResultsFound)
	{
		<NoResultsAlert />
	}
	else if (_pageStatus == PageStatus.FoundResults)
	{
		@foreach (var serie in Series)
		{
			<div @onclick="() => OnSerieSelection(serie)">
				<SerieInfoCard Serie=serie ShortDescription=true />
			</div>
		}
	}

	<div class="border rounded pt-3">
		<h4 class="px-3">Last seen</h4>
		<div class="d-flex overflow-auto px-3">
			@foreach (var serie in SeriesSearched)
			{
				<div class="mx-1 col-6 col-sm-6 col-md-3 col-lg-2" @onclick="() => OnSerieSelection(serie)">
					<img src="@serie.Cover" class="img-fluid rounded" alt="Cover">
				</div>
			}
		</div>
	</div>

</div>

@code {
	public List<SerieModel> Series { get; set; } = new();
	public List<SerieModel> SeriesSearched { get; set; } = new();

	public string SearchPhrase { get; set; }

	private PageStatus _pageStatus;

	protected async override Task OnInitializedAsync()
	{
		var lastSearchedSerieIds = SerieSearchData.GetAllSearchedSeries(6);

		if (lastSearchedSerieIds.Count == 0)
		{
			return;
		}

		_pageStatus = PageStatus.Loading;
		SeriesSearched = new();

		var tasks = lastSearchedSerieIds.Select(x => TmdbManager.GetSerieById(x));

		SeriesSearched = (await Task.WhenAll(tasks)).ToList();

		_pageStatus = PageStatus.Basic;
	}

	private void OnSerieSelection(SerieModel serie)
	{
		// save to db and show on BASIC status
		SerieSearchData.UpsertSerie(serie.Id);

		NavigationManager.NavigateTo($"/serie/{serie.Id}");
	}

	private async Task SearchSeries()
	{
		_pageStatus = PageStatus.Loading;

		Series = await TmdbManager.GetSeriesByName(SearchPhrase);

		_pageStatus = (Series.Count > 0) ? PageStatus.FoundResults : PageStatus.NoResultsFound;
	}
}