@page "/"

@inject NavigationManager NavigationManager
@inject TmdbManager TmdbManager

<div>
	<nav class="navbar navbar-expand-lg mb-2">
		<div class="container-fluid">
			<form class="d-flex" @onsubmit="@SearchSeries">
				<input @bind-value="SearchPhrase" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>

	@if (_pageStatus == PageStatus.Loading)
	{
		<LoadingSpinner />
	}
	else if (_pageStatus == PageStatus.NoResultsFound)
	{
		<NoResultsAlert />
	}
	else if (_pageStatus == PageStatus.FoundResults)
	{
		@foreach (var serie in Series)
		{
			<div @onclick="() => OnSerieSelection(serie)">
				<SerieInfoCard Serie=serie ShortDescription=true />
			</div>
		}
	}

</div>

@code {
	public List<SerieModel> Series { get; set; } = new();

	public string SearchPhrase { get; set; }

	public PageStatus _pageStatus = PageStatus.Basic;

	private void OnSerieSelection(SerieModel serie)
	{
		NavigationManager.NavigateTo($"/serie/{serie.Id}");
	}

	private async Task SearchSeries()
	{
		_pageStatus = PageStatus.Loading;

		Series = await TmdbManager.GetSeriesByName(SearchPhrase);

		_pageStatus = (Series.Count > 0) ? PageStatus.FoundResults : PageStatus.NoResultsFound;
	}
}