@page "/serie"

<div>
	<h1>@Serie.Name</h1>
	<div>
        <nav aria-label="Seasons Navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < Serie.Seasons.Count(); i++)
                {
                    <li class="page-item"><a class="page-link" href="#">@(i+1)</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
	</div>
</div>


@code {
	[Parameter]
	public SerieModel Serie { get; set; }
}
