@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>

<div class="container-fluid">
    <main>
        <article class="content px-sm-0 px-1">
            @Body
        </article>
    </main>
</div>
