@inject NavigationManager NavigationManager

<div class="">
	<nav class="navbar navbar-expand-lg navbar-light bg-success bg-opacity-50 px-sm-4 px-3 border-bottom">
		<div class="d-flex justify-content-between collapse navbar-collapse">
			<a class="navbar-brand" href=""><span class="badge bg-success fs-4">Lingo</span></a>
			<form class="d-flex" @onsubmit="@SearchSeries">
				<input @bind-value="SearchPhrase" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>

@code {
	public string SearchPhrase { get; set; }

	private void SearchSeries()
	{
		NavigationManager.NavigateTo($"/?SearchPhrase={SearchPhrase}");
	}
}