@inject NavigationManager NavigationManager

<div class="col">
	<div class="card h-100">
		<img src="@Episode.Cover" class="img-fluid rounded-start" alt="Cover">
		<div class="card-body">
			<h5 class="card-title">@Episode.Name</h5>
			<p class="card-text">
				<small class="text-muted">@($"E{Episode.Number.ToString("D2")}")</small>
			</p>
			<p class="card-text overflow-auto">@Episode.Description</p>	
		</div>
		<ul class="list-group list-group-flush justify-content-end">
@*			<li class="list-group-item">
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary btn-sm" @onclick="ShowWords">Words</button>
					<button class="btn btn-primary" @onclick="ShowSubtitles">Subtitles</button>
				</div>
			</li>
*@			<li class="list-group-item">
				<div class="btn-toolbar justify-content-md-end">
					<div class="btn-group btn-group-sm" role="group">
						<button class="btn btn-outline-dark" @onclick="ShowWords">Words</button>
						<button class="btn btn-outline-dark" @onclick="ShowSubtitles">Subtitles</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

@code {
	[Parameter]
	public EpisodeModel Episode { get; set; }

	private void ShowSubtitles()
	{
		NavigationManager.NavigateTo($"/subtitles/{Episode.Id}");
	}

	private void ShowWords()
	{
		NavigationManager.NavigateTo($"/words/{Episode.Id}");
	}
}